<!DOCTYPE html>
<html>
<head>
	<title>Lab - Multimedia Programming 2563 ITKMITL</title>
	<link rel="stylesheet" type="text/css" href="../src/reset.css">
	<link rel="stylesheet" type="text/css" href="lab.css">
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
	<div id="canvas">
		<section id="canvas_header">
			<div>
				{{score}} คะแนน
			</div>
		</section>
		<section id="canvas_main" 
		:data-play="play">
			<main>
				<div class="box _path" 
				v-for="i in 14" 
				:data-pst="i"></div>
				<div class="box _toggle" data-pst="10" :data-isrightarrow="isRightArrow"></div>

				<div class="box _fruit" v-for="f in fruits" :data-pst="f.pst" :data-type="f.type"></div>

				<div class="box _origin"></div>
				<div class="box _12" data-pst="12"></div>
				<div class="box _16" data-pst="16"></div>
				
			</main>
		</section>
		<section id="canvas_footer">
			<div v-if="play" class="btn" id="toggle" @click="check()">
				toggle
			</div>
			<div v-if="!play" class="btn" id="endgame">
				End Game
			</div>
		</section>
	</div>

	<script>
		function rand(start,stop){
			let shift = (stop-start)+1
			return Math.floor(Math.random()*100%shift)+start
		}
		
		let nextFruitId = 3
		let isRightArrow = 1
		let speed = 1000
		let app = new Vue({
			el:'#canvas',
			data:{
				isRightArrow: isRightArrow,
				play:true,
				turn:0,
				score:0,
				fruits:[
					{id:1,type:'red',pst:4,run:true,step:1},
					{id:2,type:'yellow',pst:2,run:true,step:1},
				]
			},
			methods:{
				check: function(){
					if (this.isRightArrow == 1){
						this.isRightArrow = 0
					}
					else{
						this.isRightArrow = 1
					}
					console.log(this.isRightArrow)
				}
			},
			computed:{

			},
			watch:{
				turn: function(x){
					let count = this.fruits.length
					for(let f in this.fruits){
						let run = this.fruits[f].run
						if (run) {
							this.fruits[f].pst += this.fruits[f].step
						}
						if (this.fruits[f].pst == 10 && this.isRightArrow == 1){
							this.fruits[f].step = 3
						}
						if (this.fruits[f].pst == 12 || this.fruits[f].pst == 16) {
							this.fruits[f].run = false  //หยุดวิ่ง
						}

						//นับ score
						if ((this.fruits[f].pst == 11 || this.fruits[f].pst == 13) && this.fruits[f].run == true) {
							if (this.fruits[f].type == 'red' && this.fruits[f].pst == 11){
								this.score++
							}
							else if (this.fruits[f].type == 'yellow' && this.fruits[f].pst == 13){
								this.score++
							}
							else if ((this.fruits[f].type == 'yellow' && this.fruits[f].pst == 11)||(this.fruits[f].type == 'red' && this.fruits[f].pst == 13)) {
								this.fruits.run = false
                                this.play = false
                                
							}
						}
					//console.log(x)
					}
					let spawn = rand(0,1)
					if(spawn == 1){
						newfruit = rand(0,1)
						newfruitId = 3
						if(newfruit == 1){
							this.fruits.push({id:newfruitId,type:'red',pst:1,run:true,step:1})
						}else{
							this.fruits.push({id:newfruitId,type:'yellow',pst:1,run:true,step:1})
						}
						newfruitId++;
					}
				
				}

			}
		})

		let playing = setInterval(function(){
			app.turn++
		},speed)
	</script>
</body>
</html>