<!DOCTYPE html>
<html>
<head>
	<title>Lab - Multimedia Programming 2563 ITKMITL</title>
	<link rel=stylesheet href="../src/reset.css">
	<link rel=stylesheet href="lab.css">
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body class="paper">
	<div id="app">
		<input type="number" v-model="n">
		<input type="number" v-model="row">
		<div class="space"></div>
		<h2>สูตรคูณแม่ {{n}}</h2>
		<h5>แม่ก่อนหน้า -> แม่ {{before_n}}</h5>
		<h3 class="row"
		v-for="i in r"
		>{{n}} x {{i}} = {{x(i)}}</h3>
	</div>

	<script>
		let app = new Vue({
			el: '#app',
			data: {
				n: 2,
				before_n:1,
				row:12
			},
			methods: {
				x: function(row){
					return this.n*row
				}
			},
			computed: {
				r: function(){
					return parseInt(this.row)
				},
				x2: function(){
					return this.n*2
				},
				x3: function(){
					return this.n*3
				},
				x4: function(){
					return this.n*4
				},
				x5: function(){
					return this.n*5
				},
				x6: function(){
					return this.n*6
				},
				x7: function(){
					return this.n*7
				},
				x8: function(){
					return this.n*8
				},
				x9: function(){
					return this.n*9
				}
			},
			watch: {
				n: function(a,b){
					this.before_n = b
				}
			}
		})
	</script>
</body>
</html>